/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 août 2019, 14:57:29
    Author     : jules
*/

body{
    
   
}
footer{
    min-height: 200px;
    background-color: #18345a;
}
.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-top: 30px;
}
.content {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
.media-container-row{
    border: #cccccc;
    margin-top: 15px;
    padding: 30px;
    
}
.carousel{
    max-height: 5000px;
}
.carousel-home .carousel-item img{
   height: 480px;
    margin: auto;
    padding: 10px;
    margin-right: 25px;
    margin-left: 25px;
    width: 98%;
}
.cl_part{
    min-height: 50px;
    background-color: #c82333;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.cl_part{
    min-height: 400px;
}